{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.13.0"}, % For REST communication (if HTTP API is needed)
    {jsx, "3.1.0"},     % For JSON handling for data serialization
    {emqtt, "1.11.0"},  % For MQTT communication (lightweight publish-subscribe messaging)
    {gen_rpc, "2.1.0"},  % For inter-node communication between local_site and cloud_backend 
    {cowlib, "2.14.0"}
    % {ranch, "1.8.0"}
]}.

%% Override cowboy's dependency on ranch to use version "2.2.0"
{overrides, [
    {override, cowboy, "2.13.0", [
        {deps, [
            {ranch, "2.2.0", [{hex, ranch, "2.2.0"}, {override, true}]}
        ]}
    ]}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [cloud_backend]}
]}.

% {erl_opts, [debug_info]}.
% {deps, [
%     {cowboy, "2.13.0"}, % For REST communication (if HTTP API is needed)
%     {jsx, "3.1.0"},     % For JSON handling for data serialization
%     {emqtt, "1.11.0"},  % For MQTT communication (lightweight publish-subscribe messaging)
%     {gen_rpc, "2.1.0"},  % For inter-node communication between local_site and cloud_backend 
%     {cowlib, "2.14.0"},
%     {ranch, "2.2.0", [{hex, ranch, "2.2.0"}, {override, true}]}
% ]}.


% {shell, [
%     %% {config, "config/sys.config"},
%     {apps, [cloud_backend]}
% ]}.

