{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.13.0"}, % For REST communication (if HTTP API is needed)
    {jsx, "3.1.0"},     % For JSON handling for data serialization
    {emqtt, "1.11.0"},  % For MQTT communication (lightweight publish-subscribe messaging)
    {gen_rpc, "2.1.0"},  % For inter-node communication between local_site and cloud_backend
    {cowlib, "2.14.0"},
    {ranch, "2.1.0"}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [local_site]}
]}.

{plugins, [
    {rebar3_hex, "7.0.8"}
]}.

